<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/global.css">
	<link rel="stylesheet" href="/public/css/emailConfirm.css">
	<title>Invaders-confirm</title>
</head>
<body>
	<div class="email-confirm wrapper">
	
		<div class="panel">
			<h1 class="main-title">Email Confirmed</h1>
			<p>you email has been confirm !</p>
		</div>
		
	</div>
	
</body>
</html>