<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>login Invaders 0.0.3</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/js/lib/Swiper-3.3.1/dist/css/swiper.min.css">
	<link rel="stylesheet" href="public/css/global.css">
	<link rel="stylesheet" href="public/css/home.css">
</head>
<body>
	<div class="home wrapper">
		
		<section class="left-column col-xs-3 ">
			<h1 class="main-title">Welcome to Invaders 0.0.3</h1>
			<p class ="desc">Multiplayer games experiment nodejs login or create account</p>
			
			<ul class="log-list">
				<li><button class="btn btn-success login-choose">login</button></li>
				<li><button class="btn btn-default sign-choose">signin</button></li>
				<li><a class="btn btn-default" href="./">Home</a></li>
			</ul>
		</section>
		<section class="main-content col-xs-9 ">
			<div class="swiper-container">
				<div class="swiper-wrapper">

					<!-- Slides -->
					<div class="swiper-slide page-1">
						<div class="secondary-wrapper">
							<h2 class="secondary-title">New Game with nodejs Engine</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia sit voluptas voluptates minima doloremque, nesciunt, assumenda similique, accusamus earum eius debitis, nisi facere dignissimos a dolor. Distinctio, beatae, possimus!</p>
							<video  autoplay src="public/assets/p.mov"  onloadstart="this.volume=0.0" loop>
								
							</video>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia sit voluptas voluptates minima doloremque, nesciunt, assumenda similique, accusamus earum eius debitis, nisi facere dignissimos a dolor. Distinctio, beatae, possimus!</p>
						</div>
						

					</div>
					<div class="swiper-slide page-2">
						<div class="secondary-wrapper">
							<h2 class="secondary-title">More about developement</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia sit voluptas voluptates minima doloremque, nesciunt, assumenda similique, accusamus earum eius debitis, nisi facere dignissimos a dolor. Distinctio, beatae, possimus!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia sit voluptas voluptates minima doloremque, nesciunt, assumenda similique, accusamus earum eius debitis, nisi facere dignissimos a dolor. Distinctio, beatae, possimus!</p>
							<p><a href="https://github.com/InitialCrow/Invaders" target="_blank">See the development evolution </a></p>
							<a href="http://adam-parent.com/" target="_blank">Contact me </a>
						</div>


					</div>
				
				
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination"></div>
			</div>
			<div class="page-form">
				<div class="alert alert-danger hidden" role="alert">
					
				</div>
				<div class="secondary-wrapper">
					<h2 class="secondary-title">Join the Party</h2>
					<form class="form" action="#" method="post"></form>
				</div>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate natus eum voluptates, ab modi quaerat eveniet blanditiis facere nesciunt aliquam! Rem quod quae deleniti, impedit, ullam consectetur accusantium ad dolores.</p>
			</div>
			
			
		</section>
		
			
		
	</div>
	<script src="public/js/lib/jquery-2.2.3.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="public/js/lib/Swiper-3.3.1/dist/js/swiper.min.js"></script>
	<script src="public/js/home.js"></script>
	<script>
		app.init();
	</script>
</body>
</html>